{% extends 'base.html' %}   
{% block content %}
    <br>
    {% if user.is_authenticated %}
        <h2>Criar Tarefa</h2>
        <form method="POST" class="table" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-outline-danger" href="javascript:history.back()">Cancelar</a>
                    <button type="submit" class="save btn btn-success">Salvar</button>
                </div>
        </form>
    {% endif %}
{% endblock %}