{% extends 'base.html' %}  
{% block content %}
    <br>
    <h2>Cadastro de Cliente</h2>
    <form method="POST" class="table" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
             </div>
             <div class="d-flex justify-content-end">
                <a class="btn btn-danger" href="javascript:history.back()">Cancelar</a>
                <button type="submit" class="save btn btn-success">Cadastrar</button>
            </div>
    </form>
{% endblock %}