
{% block content %}
<main>
    <!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
    </head>
    <body>
    {% if user.is_authenticated or user.is_superuser %}
    Aqui sera adicionado um leyaut
    <li class="nav-item">
        <a class="nav-link" href="{% url 'list_task' %}">Listar Tarefa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'add_task' %}">Criar Tarefa</a>
    </li>
    
    {% else %}
        <br>
        <center><h1>Faça Seu Login</h1></center>
        <center><div class="col-md-5 order-md-1">
            <form action="{% url 'authenticate_client'%}" method="post">
                {% csrf_token %}
                    <div class="mb-3" >
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <a href="{% url 'register' %}">
            <button type="submit" class="btn btn-primary">Register</button>
        </a>
    {% endif %}
    </body>
    </html>
</main>
{% endblock %}
