{% extends 'base.html' %}   
{% block content %}
<main>
    <!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tarefas</title>
    </head>
    <body>
    {% if user.is_authenticated or user.is_superuser %}

    {% else %}
        <br>
        <h1 class="font-weight-light my-4 text-center">Login</h1>
        <form class="form-horizontal" method="post" action="{% url 'authenticate_client'%}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Usuário:</label>
                <input name="username" type="text" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Senha:</label>
                <input name="password" type="password" class="form-control" required>
            </div>
            <div class="form-row">
                <div class="col-md-10 offset-md-1">
                  <div class="form-group mt-0 mb-1">
                      <button type="submit" class="col-md-12 btn btn-success">Entrar
                      </button>
                  </div>
               </div>
             </div>
        </form>
        <a href="{% url 'register' %}">
            <button type="submit" class="col-md-12 btn-danger">Registrar</button>
        </a>
    {% endif %}
    </body>
    </html>
</main>
{% endblock %}
